body {
    padding-top: 20px;
    background-color: red ;
}

#login-dp .social-buttons{
    margin:12px;  
}
#login-dp .social-buttons a{
    width: 49%;
    )
}
#login-dp .form-group {
    margin-bottom: 10px;
    
}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
    margin-top: 10px;
    margin-right: 9px; 
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
    margin-top: 10px;
    margin-left: 9px; 
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

.btn-gp{
    color: #fff;
    background-color:#c32f10;
    margin-top: 10px;
    margin-right: 9px; 
    margin-left: 9px; 
}
.btn-gp:hover{
    color: #fff;
    background-color:#59b5fa;
}
#jumbo {
    /*background: rgba(200, 54, 54, 0.5);*/
    background: rgba(255, 255, 255, 0.3);
    background-image: url("../img/titulo.png") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top 10% center;
    background-size: 50%;
    min-height: 250px;
    margin-top: 0px;
    margin-bottom: 8px;
}

